/*
*
* Colors
* 
* Gold - #FFBC67
* Red - #DA727E
* Pink - #AC6C82
* Purple - #685C79
* Navy - #455C7B
* 
*/

body {
	background-color: #455C7B;
	color: #f8f8f8;
	
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	font-weight: 400;
}



.container {
	display: block;
	margin: 0 auto;
	width: 40%;
}

.container:first-of-type {
	margin-top: 10em;
}




.new-item-container {
	margin-bottom: 8em;
	
	position: relative;
}

.new-item-input {
	background-color: rgba(0, 0, 0, 0.1);
	color: rgba(255, 255, 255, 0.5);
	border-radius: .25em;
	border: none;
	outline: none;
	
	font-family: 'Lato', sans-serif;
	font-size: 1.4em;
	font-weight: 300;
	
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 1em 1em;
	width: 100%;
}

.new-item-button {
	background-color: rgba(255, 255, 255, 0.5);
	border-top-right-radius: .0714em;
	border-bottom-right-radius: .0714em;
	border: none;
	outline: none;
	
	font-size: 4.4667em;
	
	position: absolute;
	top: 0;
	right: 0;
}

.new-item-button:hover {
	background-color: #FFBC67;
}

.new-item-button:before,
.new-item-button:after
{
	background-color: #455C7B;
	border-color: #455C7B;
}



.item-list {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.item {
	background-color: #AC6C82;
	color: rgba(255, 255, 255, 0.75);
	border-radius: .25em;
	
	cursor: pointer;
	
	font-size: 1.4em;
	line-height: 1;
	font-weight: 300;
	
	display: block;
	margin: 1em 0;
	padding: 1.5em 1em;
	padding-left: 4em;
	min-height: 1em;
	
	position: relative;
	
	transition: background-color 0.3s ease-in-out;
}

.item.completed {
	background-color: #685C79;
	
	opacity: 0.8;
	
	text-decoration: line-through;
}

.item .item-indicator {
	background-color: transparent;
	
	font-size: 4em;
	
	position: absolute;
	top: 0;
	left: 0;
	
	transition: all 0.3s ease-in-out;
}

.item .item-indicator:before,
.item .item-indicator:after
{
	border-color: #455C7B;
	background-color: #455C7B;
	
	transition: all 0.3s ease-in-out;
}

.item.completed .item-indicator:before,
.item.completed .item-indicator:after
{
	border-color: rgba(255, 255, 255, 0.8);
	background-color: rgba(255, 255, 255, 0.8);
}

.remove-item-button {
	background-color: rgba(0, 0, 0, 0.5);
	border-top-right-radius: .0714em;
	border-bottom-right-radius: .0714em;
	border: none;
	outline: none;
	
	font-size: 4em;
	
	position: absolute;
	top: 0;
	right: 0;
	
	transition: background-color 0.2s ease-in-out;
}

.remove-item-button:hover {
	background-color: #DA727E;
}

.remove-item-button:before,
.remove-item-button:after
{
	background-color: #AC6C82;
	
	transition: background-color 0.2s ease-in-out;
}

.item.completed .remove-item-button:before,
.item.completed .remove-item-button:after
{
	background-color: #685C79;
}