/*
*
* Colors
* 
* Gold - #FFBC67
* Red - #DA727E
* Pink - #AC6C82
* Purple - #685C79
* Navy - #455C7B
* 
*/

body {
	background-color: #dddddd;
	color: #675B57;
	
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 400;
}